.circular-select {
    border-radius: 50%;
    width: 50px; /* Adjust width for a circular appearance */
    height: 50px; /* Adjust height for a circular appearance */
    text-align: center;
    padding: 0;
    font-size: 1.2rem; /* Adjust font size for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circular-select option {
    text-align: center;
  }
  
  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .form-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .me-2 {
    margin-right: 0.5rem; /* Add margin between selects */
  }
  
  select {
    border: 1px solid #ccc; /* Add border to select elements */
  }
  